<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <span>Display Name</span>
            <span>##</span>
        </div>
        <div class="col-sm-12">
            <span>DOB</span>
            <span>##</span>
        </div>
        <div class="col-sm-12">
            <span>Address</span>
            <span>##</span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12">
            <span>User Name</span>
            <span>##</span>
        </div>
        <div class="col-sm-12">
            <span>Password</span>
            <span>##</span>
        </div>
        <div class="col-sm-12">
            <span>
                <button type="submit" (click)='editProfile()'>Edit</button>
            </span>
        </div>
    </div>
</div>